<div class="container">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-car">
        <div class="card-car-infos">
          <div>
            <h2><%= car.brand %> | <%= car.model %></h2>
            <p> <%= car.year %></p>
            <p class="card-car-pricing">R$ <%= car.price %>,00</p>
          </div>
          <div>
            <div class="green-a">
              <%= link_to "Edit", edit_car_path(car) %>
            </div>
            <div class="green-a">
              <%= link_to "Delete",
                          car_path(car),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
