<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517271710308-aa99f1519490?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);">
  <div class="container">
    <h1>O mundo do antigomobilismo ao seu alcance</strong></h1>
    <p>Explore nossa garagem de carros <span id="banner-typed-text"></span>.</p>
    <%= link_to 'Ver carros', cars_path, :class =>   "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div class="cards-home mt-5">
    <% @cars.sample(3).each do |car| %>
      <% if car.trades.empty? %>
        <div class="card-home">
          <% if car.photos.attached?  %>
            <%= cl_image_tag car.photos.first.key %>
          <% else %>
             <%= image_tag "https://i.ibb.co/qLQTBzg/old-car-icon.png", class: "default-car" %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><strong><%= car.brand %> | <%= car.model %></strong></h4>
            <p class="card-text"> <%= car.year %></p>
            <div class="d-flex justify-content-between">
              <h5 class="card-car-pricing">R$ <%= number_with_delimiter(car.price, delimiter: ".") %></h5>
              <%= link_to "Details", car_path(car), class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
