<div>
  <%= simple_form_for(@car) do |f| %>
    <div class="form-inputs">
      <div class="d-flex justify-content-between">
        <div class="flex-fill mr-3">
          <%= f.input :brand, label: "Marca" %>
        </div>
        <div class="flex-fill ml-3">
          <%= f.input :model, label: "Modelo" %>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="flex-fill mr-3">
          <%= f.input :color, label: "Cor" %>
        </div>
        <div class="flex-fill ml-3">
          <%= f.input :year, label: "Ano" %>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="flex-fill mr-3">
          <%= f.input :address, label: "Endereço", hint: "Informe logradouro, complemento, cidade e UF" %>
        </div>
        <div class="flex-fill ml-3">
          <%= f.input :price, label: "Preço" %>
        </div>
      </div>
      <%= f.input :description, label: "Descrição" %>
      <label class="btn-camera">
        <span style="display:none;">
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </span>
      </label>
      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
    <div class="form-actions green-input text-right">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
