<div class="card-car">
  <div class="card-car-infos">
    <div>
      <h2><%= @car.brand %> | <%= @car.model %></h2>
      <p> <%= @car.year %></p>
      <p><%= @car.description %></p>
      <p><%= @car.color %></p>
    </div>
  <h2 class="card-car-pricing">R$ <%= @car.price %></h2>
  </div>
</div>
<% link_to "Quero comprar", new_trade_path %>
