<div class="container">
  <div>
    <div>
      <div class="d-flex">
        <% @car.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 250, width: 350, crop: :fill, class: "car-show-pics" %>
        <% end %>
      </div>
    </div>
    <div>
      <h2><%= @car.brand %> <%= @car.model %></h2>
    </div>
      <p> <%= @car.year %></p>
      <p class="text-justify"><%= @car.description %></p>
      <p><%= @car.color %></p>
  </div>
  <h4 class="text-right">R$ <%= @car.price %></h4>
  <br>
  <% if @car.user != current_user  %>
    <div class="green-btn text-center">
      <%= link_to "Buy it",new_car_trade_path(@car) %>
    </div>
  <% end %>
</div>
<br>
